.item #ul .li{
    width: 900px;
    height: 50px;
    background-color: lavender;
    cursor: pointer;
    position: relative;
}
.item #ul .li:hover{
    background-color: silver;
    transition: 0.5s ease;
}
.item #ul .li .section{
    position: absolute;
    top: 15px;
    left: 25px;
}
.item #ul .li i{
    position: absolute;
    right: 20px;
    top: 17px;
    font-size: 13px;
}
.item #ul .content{
        width: 900px;
        padding-top: 10px;
        padding-left: 15px;
        display: none;
}
.active-contain{
    display: block;
}
